In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
### Findings:

## 1132 Records
## Ends on March 21, 2018 on game 71
## Seperated the result column into win and loss and spread
## What does game_score mean? What does minus_plus mean?
## Each season ends with a different amount of games
## fg and fgp to fgp all line up, checked the math 
## Parsed age column to decimal format

In [3]:
## Read in CSV

lbj_df = pd.read_csv("lebron_career.csv")

In [4]:
## Look at head

lbj_df.head()

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
0,1,2003-10-29,18-303,CLE,SAC,L (-14),42:00,12,20,0.600,...,2,4,6,9,4,0,2,25,24.7,-9
1,2,2003-10-30,18-304,CLE,PHO,L (-9),41:00,8,17,0.471,...,2,10,12,8,1,0,7,21,14.7,-3
2,3,2003-11-01,18-306,CLE,POR,L (-19),39:00,3,12,0.250,...,0,4,4,6,2,0,2,8,5.0,-21
3,4,2003-11-05,18-310,CLE,DEN,L (-4),41:00,3,11,0.273,...,2,9,11,7,2,3,2,7,11.2,-3
4,5,2003-11-07,18-312,CLE,IND,L (-1),44:00,8,18,0.444,...,0,5,5,3,0,0,7,23,9.0,-7

In [5]:
## Look at tail

lbj_df.tail()

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
1127,67,2018-03-13,33-073,CLE,PHO,W (+22),33:13,7,14,0.500,...,0,12,12,11,3,2,5,28,30.1,23
1128,68,2018-03-15,33-075,CLE,POR,L (-8),41:05,15,25,0.600,...,0,14,14,6,2,3,6,35,26.4,-3
1129,69,2018-03-17,33-077,CLE,CHI,W (+5),39:53,15,26,0.577,...,1,12,13,12,1,2,6,33,27.5,-4
1130,70,2018-03-19,33-079,CLE,MIL,W (+7),40:01,16,29,0.552,...,5,7,12,10,2,1,6,40,33.4,4
1131,71,2018-03-21,33-081,CLE,TOR,W (+3),39:24,11,19,0.579,...,1,6,7,17,1,0,0,35,39.9,12

In [6]:
## Summary stats

lbj_df.describe()

,game,fg,fga,fgp,three,threeatt,threep,ft,fta,ftp,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
count,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1092.000000,1132.000000,1132.000000,1120.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000
mean,38.385159,9.866608,19.585689,0.505467,1.409894,4.103357,0.309266,6.005300,8.126325,0.734154,1.212898,6.136926,7.349823,7.163428,1.640459,0.782686,3.463781,27.148410,22.224735,5.467314
std,22.038108,3.099422,4.868082,0.114112,1.396538,2.346039,0.253228,3.449518,4.220171,0.185503,1.184072,2.684365,3.004192,2.880583,1.313962,0.924440,1.834321,7.887419,7.790812,12.712345
min,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-0.100000,-39.000000
25%,19.000000,8.000000,16.000000,0.429000,0.000000,2.000000,0.000000,4.000000,5.000000,0.625000,0.000000,4.000000,5.000000,5.000000,1.000000,0.000000,2.000000,22.000000,17.000000,-3.000000
50%,38.000000,10.000000,20.000000,0.500000,1.000000,4.000000,0.333000,6.000000,8.000000,0.750000,1.000000,6.000000,7.000000,7.000000,1.000000,1.000000,3.000000,27.000000,22.600000,6.000000
75%,57.000000,12.000000,23.000000,0.579000,2.000000,5.000000,0.500000,8.000000,11.000000,0.857000,2.000000,8.000000,9.000000,9.000000,2.000000,1.000000,5.000000,32.000000,27.200000,14.000000
max,81.000000,23.000000,36.000000,0.929000,8.000000,13.000000,1.000000,24.000000,28.000000,1.000000,7.000000,17.000000,19.000000,19.000000,7.000000,5.000000,11.000000,61.000000,53.200000,39.000000

In [7]:
##Dtypes

lbj_df.dtypes

game            int64
date           object
age            object
team           object
opp            object
result         object
mp             object
fg              int64
fga             int64
fgp           float64
three           int64
threeatt        int64
threep        float64
ft              int64
fta             int64
ftp           float64
orb             int64
drb             int64
trb             int64
ast             int64
stl             int64
blk             int64
tov             int64
pts             int64
game_score    float64
minus_plus      int64
dtype: object

In [8]:
## Check NA

lbj_df.isna().count()

game          1132
date          1132
age           1132
team          1132
opp           1132
result        1132
mp            1132
fg            1132
fga           1132
fgp           1132
three         1132
threeatt      1132
threep        1132
ft            1132
fta           1132
ftp           1132
orb           1132
drb           1132
trb           1132
ast           1132
stl           1132
blk           1132
tov           1132
pts           1132
game_score    1132
minus_plus    1132
dtype: int64

In [9]:
## Parse the result column

lbj_df['win_or_loss'] = lbj_df['result'].str[0]
lbj_df['spread'] = lbj_df['result'].str[3:-1]

In [10]:
## Check if it worked

lbj_df

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,trb,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread
0,1,2003-10-29,18-303,CLE,SAC,L (-14),42:00,12,20,0.600,...,6,9,4,0,2,25,24.7,-9,L,-14
1,2,2003-10-30,18-304,CLE,PHO,L (-9),41:00,8,17,0.471,...,12,8,1,0,7,21,14.7,-3,L,-9
2,3,2003-11-01,18-306,CLE,POR,L (-19),39:00,3,12,0.250,...,4,6,2,0,2,8,5.0,-21,L,-19
3,4,2003-11-05,18-310,CLE,DEN,L (-4),41:00,3,11,0.273,...,11,7,2,3,2,7,11.2,-3,L,-4
4,5,2003-11-07,18-312,CLE,IND,L (-1),44:00,8,18,0.444,...,5,3,0,0,7,23,9.0,-7,L,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,W (+22),33:13,7,14,0.500,...,12,11,3,2,5,28,30.1,23,W,+22
1128,68,2018-03-15,33-075,CLE,POR,L (-8),41:05,15,25,0.600,...,14,6,2,3,6,35,26.4,-3,L,-8
1129,69,2018-03-17,33-077,CLE,CHI,W (+5),39:53,15,26,0.577,...,13,12,1,2,6,33,27.5,-4,W,+5
1130,70,2018-03-19,33-079,CLE,MIL,W (+7),40:01,16,29,0.552,...,12,10,2,1,6,40,33.4,4,W,+7
1131,71,2018-03-21,33-081,CLE,TOR,W (+3),39:24,11,19,0.579,...,7,17,1,0,0,35,39.9,12,W,+3

In [11]:
## Drop the result column

lbj_df.drop('result', axis=1, inplace=True)

In [12]:
## Check it dropped

lbj_df

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,trb,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,6,9,4,0,2,25,24.7,-9,L,-14
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,12,8,1,0,7,21,14.7,-3,L,-9
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,4,6,2,0,2,8,5.0,-21,L,-19
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,11,7,2,3,2,7,11.2,-3,L,-4
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,5,3,0,0,7,23,9.0,-7,L,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,33:13,7,14,0.500,1,...,12,11,3,2,5,28,30.1,23,W,+22
1128,68,2018-03-15,33-075,CLE,POR,41:05,15,25,0.600,1,...,14,6,2,3,6,35,26.4,-3,L,-8
1129,69,2018-03-17,33-077,CLE,CHI,39:53,15,26,0.577,2,...,13,12,1,2,6,33,27.5,-4,W,+5
1130,70,2018-03-19,33-079,CLE,MIL,40:01,16,29,0.552,3,...,12,10,2,1,6,40,33.4,4,W,+7
1131,71,2018-03-21,33-081,CLE,TOR,39:24,11,19,0.579,1,...,7,17,1,0,0,35,39.9,12,W,+3

In [13]:
## Check unique values for W and L, matches the total records in table

lbj_df['win_or_loss'].value_counts()

W    753
L    379
Name: win_or_loss, dtype: int64

In [14]:
## Double check the fgp is correct based on the fg and fga

lbj_df['Calculated Field Goal Percentage'] = (lbj_df['fg'] / lbj_df['fga']).round(3)

In [15]:
## See if it added the column

lbj_df

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,Calculated Field Goal Percentage
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,9,4,0,2,25,24.7,-9,L,-14,0.600
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,8,1,0,7,21,14.7,-3,L,-9,0.471
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,6,2,0,2,8,5.0,-21,L,-19,0.250
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,7,2,3,2,7,11.2,-3,L,-4,0.273
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,3,0,0,7,23,9.0,-7,L,-1,0.444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,33:13,7,14,0.500,1,...,11,3,2,5,28,30.1,23,W,+22,0.500
1128,68,2018-03-15,33-075,CLE,POR,41:05,15,25,0.600,1,...,6,2,3,6,35,26.4,-3,L,-8,0.600
1129,69,2018-03-17,33-077,CLE,CHI,39:53,15,26,0.577,2,...,12,1,2,6,33,27.5,-4,W,+5,0.577
1130,70,2018-03-19,33-079,CLE,MIL,40:01,16,29,0.552,3,...,10,2,1,6,40,33.4,4,W,+7,0.552
1131,71,2018-03-21,33-081,CLE,TOR,39:24,11,19,0.579,1,...,17,1,0,0,35,39.9,12,W,+3,0.579

In [16]:
##Check

lbj_df['Calculated Field Goal Percentage'] == lbj_df['fgp']

0       True
1       True
2       True
3       True
4       True
        ...
1127    True
1128    True
1129    True
1130    True
1131    True
Length: 1132, dtype: bool

In [17]:
## After checking if the math lined up, it does, round is just slightly different.

In [18]:
lbj_df.drop('Calculated Field Goal Percentage', axis=1, inplace=True)

In [19]:
lbj_df.head()

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,trb,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,6,9,4,0,2,25,24.7,-9,L,-14
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,12,8,1,0,7,21,14.7,-3,L,-9
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,4,6,2,0,2,8,5.0,-21,L,-19
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,11,7,2,3,2,7,11.2,-3,L,-4
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,5,3,0,0,7,23,9.0,-7,L,-1

In [20]:
## Check if the win_or_loss column line up with spread

In [21]:
# check for inconsistencies between the "win_or_loss" and "spread" columns
inconsistent_rows = ((lbj_df['spread'].str.contains('-') & (lbj_df['win_or_loss'] != 'L')) |
                     (lbj_df['spread'].str.contains('\+') & (lbj_df['win_or_loss'] != 'W')))

inconsistent_rows.to_frame()

# display the inconsistent rows
lbj_df[inconsistent_rows]

Empty DataFrame
Columns: [game, date, age, team, opp, mp, fg, fga, fgp, three, threeatt, threep, ft, fta, ftp, orb, drb, trb, ast, stl, blk, tov, pts, game_score, minus_plus, win_or_loss, spread]
Index: []

[0 rows x 27 columns]

In [22]:
## AGE COLUMN

## Parse the age column
age_parts = lbj_df['age'].str.split('-', expand=True)
years = age_parts[0].astype(int)
days = age_parts[1].astype(int)

# calculate the decimal age by dividing the days out of 365 rounded to third decimal
lbj_df['decimal_age'] = (years + (days / 365)).round(3)

In [23]:
lbj_df

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,decimal_age
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,9,4,0,2,25,24.7,-9,L,-14,18.830
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,8,1,0,7,21,14.7,-3,L,-9,18.833
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,6,2,0,2,8,5.0,-21,L,-19,18.838
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,7,2,3,2,7,11.2,-3,L,-4,18.849
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,3,0,0,7,23,9.0,-7,L,-1,18.855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,33:13,7,14,0.500,1,...,11,3,2,5,28,30.1,23,W,+22,33.200
1128,68,2018-03-15,33-075,CLE,POR,41:05,15,25,0.600,1,...,6,2,3,6,35,26.4,-3,L,-8,33.205
1129,69,2018-03-17,33-077,CLE,CHI,39:53,15,26,0.577,2,...,12,1,2,6,33,27.5,-4,W,+5,33.211
1130,70,2018-03-19,33-079,CLE,MIL,40:01,16,29,0.552,3,...,10,2,1,6,40,33.4,4,W,+7,33.216
1131,71,2018-03-21,33-081,CLE,TOR,39:24,11,19,0.579,1,...,17,1,0,0,35,39.9,12,W,+3,33.222

In [24]:
## Drop age column
lbj_df.drop('age', axis=1, inplace=True)

In [25]:
## Check it dropped
lbj_df

,game,date,team,opp,mp,fg,fga,fgp,three,threeatt,...,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,decimal_age
0,1,2003-10-29,CLE,SAC,42:00,12,20,0.600,0,2,...,9,4,0,2,25,24.7,-9,L,-14,18.830
1,2,2003-10-30,CLE,PHO,41:00,8,17,0.471,1,5,...,8,1,0,7,21,14.7,-3,L,-9,18.833
2,3,2003-11-01,CLE,POR,39:00,3,12,0.250,0,1,...,6,2,0,2,8,5.0,-21,L,-19,18.838
3,4,2003-11-05,CLE,DEN,41:00,3,11,0.273,0,2,...,7,2,3,2,7,11.2,-3,L,-4,18.849
4,5,2003-11-07,CLE,IND,44:00,8,18,0.444,1,2,...,3,0,0,7,23,9.0,-7,L,-1,18.855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,CLE,PHO,33:13,7,14,0.500,1,2,...,11,3,2,5,28,30.1,23,W,+22,33.200
1128,68,2018-03-15,CLE,POR,41:05,15,25,0.600,1,4,...,6,2,3,6,35,26.4,-3,L,-8,33.205
1129,69,2018-03-17,CLE,CHI,39:53,15,26,0.577,2,8,...,12,1,2,6,33,27.5,-4,W,+5,33.211
1130,70,2018-03-19,CLE,MIL,40:01,16,29,0.552,3,7,...,10,2,1,6,40,33.4,4,W,+7,33.216
1131,71,2018-03-21,CLE,TOR,39:24,11,19,0.579,1,3,...,17,1,0,0,35,39.9,12,W,+3,33.222

In [49]:
# Create list of date ranges to group games by NBA season
year_ranges = [
    (lbj_df['date'] < '2004-08-01'),
    (lbj_df['date'] >= '2004-08-01') & (lbj_df['date'] < '2005-08-01'),
    (lbj_df['date'] >= '2005-08-01') & (lbj_df['date'] < '2006-08-01'),
    (lbj_df['date'] >= '2006-08-01') & (lbj_df['date'] < '2007-08-01'),
    (lbj_df['date'] >= '2007-08-01') & (lbj_df['date'] < '2008-08-01'),
    (lbj_df['date'] >= '2008-08-01') & (lbj_df['date'] < '2009-08-01'),
    (lbj_df['date'] >= '2009-08-01') & (lbj_df['date'] < '2010-08-01'),
    (lbj_df['date'] >= '2010-08-01') & (lbj_df['date'] < '2011-08-01'),
    (lbj_df['date'] >= '2011-08-01') & (lbj_df['date'] < '2012-08-01'),
    (lbj_df['date'] >= '2012-08-01') & (lbj_df['date'] < '2013-08-01'),
    (lbj_df['date'] >= '2013-08-01') & (lbj_df['date'] < '2014-08-01'),
    (lbj_df['date'] >= '2014-08-01') & (lbj_df['date'] < '2015-08-01'),
    (lbj_df['date'] >= '2015-08-01') & (lbj_df['date'] < '2016-08-01'),
    (lbj_df['date'] >= '2016-08-01') & (lbj_df['date'] < '2017-08-01'),
    (lbj_df['date'] >= '2017-08-01') & (lbj_df['date'] < '2018-08-01')
     ]

# Create array of sequential integers to be assigned based on the date range
year_vals = np.arange(1,16)

In [50]:
# Add year_num column to assign each game to the corresponding NBA season
lbj_df['year_num'] = np.select(year_ranges, year_vals)

In [51]:
# Check 
lbj_df

,game,date,team,opp,mp,fg,fga,fgp,three,threeatt,...,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,decimal_age,year_num
0,1,2003-10-29,CLE,SAC,42:00,12,20,0.600,0,2,...,4,0,2,25,24.7,-9,L,-14,18.830,1
1,2,2003-10-30,CLE,PHO,41:00,8,17,0.471,1,5,...,1,0,7,21,14.7,-3,L,-9,18.833,1
2,3,2003-11-01,CLE,POR,39:00,3,12,0.250,0,1,...,2,0,2,8,5.0,-21,L,-19,18.838,1
3,4,2003-11-05,CLE,DEN,41:00,3,11,0.273,0,2,...,2,3,2,7,11.2,-3,L,-4,18.849,1
4,5,2003-11-07,CLE,IND,44:00,8,18,0.444,1,2,...,0,0,7,23,9.0,-7,L,-1,18.855,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,CLE,PHO,33:13,7,14,0.500,1,2,...,3,2,5,28,30.1,23,W,+22,33.200,15
1128,68,2018-03-15,CLE,POR,41:05,15,25,0.600,1,4,...,2,3,6,35,26.4,-3,L,-8,33.205,15
1129,69,2018-03-17,CLE,CHI,39:53,15,26,0.577,2,8,...,1,2,6,33,27.5,-4,W,+5,33.211,15
1130,70,2018-03-19,CLE,MIL,40:01,16,29,0.552,3,7,...,2,1,6,40,33.4,4,W,+7,33.216,15
1131,71,2018-03-21,CLE,TOR,39:24,11,19,0.579,1,3,...,1,0,0,35,39.9,12,W,+3,33.222,15