# 207 Final Project - Lebron James

In [1]:
#Libraries
import pandas as pd
import numpy as np
import matplotlib
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns  # for nicer plots
sns.set(style="darkgrid")  # default style

import tensorflow as tf
from tensorflow import keras
from keras import metrics
tf.get_logger().setLevel('INFO')
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# Data Cleaning & EDA

### EDA Findings/Changes:

- dataset link: https://www.kaggle.com/code/jonathanbouchet/lebron-james-data/input?select=lebron_career.csv
- 1132 Records
- Ends on March 21, 2018, which is year 15 - lebron is currently playing in year 20
- Seperated the 'result' column into two seperate columns: win/loss and spread
- Each season ends with a different amount of games, this is due to amount of games Lebron played
- Doubled check math for field goal percentages - they are all correct
- Parsed age column to decimal format
- Added year_num column to group games by season
- Converted minutes per game into decimal value
- Changed all column types to fit the ML model

In [2]:
## Read in CSV

lbj_df = pd.read_csv("lebron_career.csv")

In [3]:
## Look at head

lbj_df.head()

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
0,1,2003-10-29,18-303,CLE,SAC,L (-14),42:00,12,20,0.600,...,2,4,6,9,4,0,2,25,24.7,-9
1,2,2003-10-30,18-304,CLE,PHO,L (-9),41:00,8,17,0.471,...,2,10,12,8,1,0,7,21,14.7,-3
2,3,2003-11-01,18-306,CLE,POR,L (-19),39:00,3,12,0.250,...,0,4,4,6,2,0,2,8,5.0,-21
3,4,2003-11-05,18-310,CLE,DEN,L (-4),41:00,3,11,0.273,...,2,9,11,7,2,3,2,7,11.2,-3
4,5,2003-11-07,18-312,CLE,IND,L (-1),44:00,8,18,0.444,...,0,5,5,3,0,0,7,23,9.0,-7

In [4]:
## Look at tail

lbj_df.tail()

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
1127,67,2018-03-13,33-073,CLE,PHO,W (+22),33:13,7,14,0.500,...,0,12,12,11,3,2,5,28,30.1,23
1128,68,2018-03-15,33-075,CLE,POR,L (-8),41:05,15,25,0.600,...,0,14,14,6,2,3,6,35,26.4,-3
1129,69,2018-03-17,33-077,CLE,CHI,W (+5),39:53,15,26,0.577,...,1,12,13,12,1,2,6,33,27.5,-4
1130,70,2018-03-19,33-079,CLE,MIL,W (+7),40:01,16,29,0.552,...,5,7,12,10,2,1,6,40,33.4,4
1131,71,2018-03-21,33-081,CLE,TOR,W (+3),39:24,11,19,0.579,...,1,6,7,17,1,0,0,35,39.9,12

In [5]:
## Summary stats

lbj_df.describe()

,game,fg,fga,fgp,three,threeatt,threep,ft,fta,ftp,orb,drb,trb,ast,stl,blk,tov,pts,game_score,minus_plus
count,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1092.000000,1132.000000,1132.000000,1120.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000,1132.000000
mean,38.385159,9.866608,19.585689,0.505467,1.409894,4.103357,0.309266,6.005300,8.126325,0.734154,1.212898,6.136926,7.349823,7.163428,1.640459,0.782686,3.463781,27.148410,22.224735,5.467314
std,22.038108,3.099422,4.868082,0.114112,1.396538,2.346039,0.253228,3.449518,4.220171,0.185503,1.184072,2.684365,3.004192,2.880583,1.313962,0.924440,1.834321,7.887419,7.790812,12.712345
min,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-0.100000,-39.000000
25%,19.000000,8.000000,16.000000,0.429000,0.000000,2.000000,0.000000,4.000000,5.000000,0.625000,0.000000,4.000000,5.000000,5.000000,1.000000,0.000000,2.000000,22.000000,17.000000,-3.000000
50%,38.000000,10.000000,20.000000,0.500000,1.000000,4.000000,0.333000,6.000000,8.000000,0.750000,1.000000,6.000000,7.000000,7.000000,1.000000,1.000000,3.000000,27.000000,22.600000,6.000000
75%,57.000000,12.000000,23.000000,0.579000,2.000000,5.000000,0.500000,8.000000,11.000000,0.857000,2.000000,8.000000,9.000000,9.000000,2.000000,1.000000,5.000000,32.000000,27.200000,14.000000
max,81.000000,23.000000,36.000000,0.929000,8.000000,13.000000,1.000000,24.000000,28.000000,1.000000,7.000000,17.000000,19.000000,19.000000,7.000000,5.000000,11.000000,61.000000,53.200000,39.000000

In [6]:
##Dtypes

lbj_df.dtypes

game            int64
date           object
age            object
team           object
opp            object
result         object
mp             object
fg              int64
fga             int64
fgp           float64
three           int64
threeatt        int64
threep        float64
ft              int64
fta             int64
ftp           float64
orb             int64
drb             int64
trb             int64
ast             int64
stl             int64
blk             int64
tov             int64
pts             int64
game_score    float64
minus_plus      int64
dtype: object

In [7]:
## Check NA

lbj_df.isna().count()

game          1132
date          1132
age           1132
team          1132
opp           1132
result        1132
mp            1132
fg            1132
fga           1132
fgp           1132
three         1132
threeatt      1132
threep        1132
ft            1132
fta           1132
ftp           1132
orb           1132
drb           1132
trb           1132
ast           1132
stl           1132
blk           1132
tov           1132
pts           1132
game_score    1132
minus_plus    1132
dtype: int64

In [8]:
## Parse the result column

lbj_df['win_or_loss'] = lbj_df['result'].str[0]
lbj_df['spread'] = lbj_df['result'].str[3:-1]

In [9]:
## Check if it worked

lbj_df

,game,date,age,team,opp,result,mp,fg,fga,fgp,...,trb,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread
0,1,2003-10-29,18-303,CLE,SAC,L (-14),42:00,12,20,0.600,...,6,9,4,0,2,25,24.7,-9,L,-14
1,2,2003-10-30,18-304,CLE,PHO,L (-9),41:00,8,17,0.471,...,12,8,1,0,7,21,14.7,-3,L,-9
2,3,2003-11-01,18-306,CLE,POR,L (-19),39:00,3,12,0.250,...,4,6,2,0,2,8,5.0,-21,L,-19
3,4,2003-11-05,18-310,CLE,DEN,L (-4),41:00,3,11,0.273,...,11,7,2,3,2,7,11.2,-3,L,-4
4,5,2003-11-07,18-312,CLE,IND,L (-1),44:00,8,18,0.444,...,5,3,0,0,7,23,9.0,-7,L,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,W (+22),33:13,7,14,0.500,...,12,11,3,2,5,28,30.1,23,W,+22
1128,68,2018-03-15,33-075,CLE,POR,L (-8),41:05,15,25,0.600,...,14,6,2,3,6,35,26.4,-3,L,-8
1129,69,2018-03-17,33-077,CLE,CHI,W (+5),39:53,15,26,0.577,...,13,12,1,2,6,33,27.5,-4,W,+5
1130,70,2018-03-19,33-079,CLE,MIL,W (+7),40:01,16,29,0.552,...,12,10,2,1,6,40,33.4,4,W,+7
1131,71,2018-03-21,33-081,CLE,TOR,W (+3),39:24,11,19,0.579,...,7,17,1,0,0,35,39.9,12,W,+3

In [10]:
## Drop the result column

lbj_df.drop('result', axis=1, inplace=True)

In [11]:
## Check it dropped

lbj_df

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,trb,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,6,9,4,0,2,25,24.7,-9,L,-14
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,12,8,1,0,7,21,14.7,-3,L,-9
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,4,6,2,0,2,8,5.0,-21,L,-19
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,11,7,2,3,2,7,11.2,-3,L,-4
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,5,3,0,0,7,23,9.0,-7,L,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,33:13,7,14,0.500,1,...,12,11,3,2,5,28,30.1,23,W,+22
1128,68,2018-03-15,33-075,CLE,POR,41:05,15,25,0.600,1,...,14,6,2,3,6,35,26.4,-3,L,-8
1129,69,2018-03-17,33-077,CLE,CHI,39:53,15,26,0.577,2,...,13,12,1,2,6,33,27.5,-4,W,+5
1130,70,2018-03-19,33-079,CLE,MIL,40:01,16,29,0.552,3,...,12,10,2,1,6,40,33.4,4,W,+7
1131,71,2018-03-21,33-081,CLE,TOR,39:24,11,19,0.579,1,...,7,17,1,0,0,35,39.9,12,W,+3

In [12]:
## Check unique values for W and L, matches the total records in table

lbj_df['win_or_loss'].value_counts()

W    753
L    379
Name: win_or_loss, dtype: int64

In [13]:
## Double check the fgp is correct based on the fg and fga

lbj_df['Calculated Field Goal Percentage'] = (lbj_df['fg'] / lbj_df['fga']).round(3)

In [14]:
## See if it added the column

lbj_df

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,Calculated Field Goal Percentage
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,9,4,0,2,25,24.7,-9,L,-14,0.600
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,8,1,0,7,21,14.7,-3,L,-9,0.471
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,6,2,0,2,8,5.0,-21,L,-19,0.250
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,7,2,3,2,7,11.2,-3,L,-4,0.273
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,3,0,0,7,23,9.0,-7,L,-1,0.444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,33:13,7,14,0.500,1,...,11,3,2,5,28,30.1,23,W,+22,0.500
1128,68,2018-03-15,33-075,CLE,POR,41:05,15,25,0.600,1,...,6,2,3,6,35,26.4,-3,L,-8,0.600
1129,69,2018-03-17,33-077,CLE,CHI,39:53,15,26,0.577,2,...,12,1,2,6,33,27.5,-4,W,+5,0.577
1130,70,2018-03-19,33-079,CLE,MIL,40:01,16,29,0.552,3,...,10,2,1,6,40,33.4,4,W,+7,0.552
1131,71,2018-03-21,33-081,CLE,TOR,39:24,11,19,0.579,1,...,17,1,0,0,35,39.9,12,W,+3,0.579

In [15]:
##Check

lbj_df['Calculated Field Goal Percentage'] == lbj_df['fgp']

0       True
1       True
2       True
3       True
4       True
        ...
1127    True
1128    True
1129    True
1130    True
1131    True
Length: 1132, dtype: bool

In [16]:
## After checking if the math lined up, it does, round is just slightly different.

In [17]:
lbj_df.drop('Calculated Field Goal Percentage', axis=1, inplace=True)

In [18]:
lbj_df.head()

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,trb,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,6,9,4,0,2,25,24.7,-9,L,-14
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,12,8,1,0,7,21,14.7,-3,L,-9
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,4,6,2,0,2,8,5.0,-21,L,-19
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,11,7,2,3,2,7,11.2,-3,L,-4
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,5,3,0,0,7,23,9.0,-7,L,-1

In [19]:
## Check if the win_or_loss column line up with spread

In [20]:
# check for inconsistencies between the "win_or_loss" and "spread" columns
inconsistent_rows = ((lbj_df['spread'].str.contains('-') & (lbj_df['win_or_loss'] != 'L')) |
                     (lbj_df['spread'].str.contains('\+') & (lbj_df['win_or_loss'] != 'W')))

inconsistent_rows.to_frame()

# display the inconsistent rows
lbj_df[inconsistent_rows]

Empty DataFrame
Columns: [game, date, age, team, opp, mp, fg, fga, fgp, three, threeatt, threep, ft, fta, ftp, orb, drb, trb, ast, stl, blk, tov, pts, game_score, minus_plus, win_or_loss, spread]
Index: []

[0 rows x 27 columns]

In [21]:
## AGE COLUMN

## Parse the age column
age_parts = lbj_df['age'].str.split('-', expand=True)
years = age_parts[0].astype(int)
days = age_parts[1].astype(int)

# calculate the decimal age by dividing the days out of 365 rounded to third decimal
lbj_df['decimal_age'] = (years + (days / 365)).round(3)

In [22]:
lbj_df

,game,date,age,team,opp,mp,fg,fga,fgp,three,...,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,decimal_age
0,1,2003-10-29,18-303,CLE,SAC,42:00,12,20,0.600,0,...,9,4,0,2,25,24.7,-9,L,-14,18.830
1,2,2003-10-30,18-304,CLE,PHO,41:00,8,17,0.471,1,...,8,1,0,7,21,14.7,-3,L,-9,18.833
2,3,2003-11-01,18-306,CLE,POR,39:00,3,12,0.250,0,...,6,2,0,2,8,5.0,-21,L,-19,18.838
3,4,2003-11-05,18-310,CLE,DEN,41:00,3,11,0.273,0,...,7,2,3,2,7,11.2,-3,L,-4,18.849
4,5,2003-11-07,18-312,CLE,IND,44:00,8,18,0.444,1,...,3,0,0,7,23,9.0,-7,L,-1,18.855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,33-073,CLE,PHO,33:13,7,14,0.500,1,...,11,3,2,5,28,30.1,23,W,+22,33.200
1128,68,2018-03-15,33-075,CLE,POR,41:05,15,25,0.600,1,...,6,2,3,6,35,26.4,-3,L,-8,33.205
1129,69,2018-03-17,33-077,CLE,CHI,39:53,15,26,0.577,2,...,12,1,2,6,33,27.5,-4,W,+5,33.211
1130,70,2018-03-19,33-079,CLE,MIL,40:01,16,29,0.552,3,...,10,2,1,6,40,33.4,4,W,+7,33.216
1131,71,2018-03-21,33-081,CLE,TOR,39:24,11,19,0.579,1,...,17,1,0,0,35,39.9,12,W,+3,33.222

In [23]:
## Drop age column
lbj_df.drop('age', axis=1, inplace=True)

In [24]:
## Check it dropped
lbj_df

,game,date,team,opp,mp,fg,fga,fgp,three,threeatt,...,ast,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,decimal_age
0,1,2003-10-29,CLE,SAC,42:00,12,20,0.600,0,2,...,9,4,0,2,25,24.7,-9,L,-14,18.830
1,2,2003-10-30,CLE,PHO,41:00,8,17,0.471,1,5,...,8,1,0,7,21,14.7,-3,L,-9,18.833
2,3,2003-11-01,CLE,POR,39:00,3,12,0.250,0,1,...,6,2,0,2,8,5.0,-21,L,-19,18.838
3,4,2003-11-05,CLE,DEN,41:00,3,11,0.273,0,2,...,7,2,3,2,7,11.2,-3,L,-4,18.849
4,5,2003-11-07,CLE,IND,44:00,8,18,0.444,1,2,...,3,0,0,7,23,9.0,-7,L,-1,18.855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,CLE,PHO,33:13,7,14,0.500,1,2,...,11,3,2,5,28,30.1,23,W,+22,33.200
1128,68,2018-03-15,CLE,POR,41:05,15,25,0.600,1,4,...,6,2,3,6,35,26.4,-3,L,-8,33.205
1129,69,2018-03-17,CLE,CHI,39:53,15,26,0.577,2,8,...,12,1,2,6,33,27.5,-4,W,+5,33.211
1130,70,2018-03-19,CLE,MIL,40:01,16,29,0.552,3,7,...,10,2,1,6,40,33.4,4,W,+7,33.216
1131,71,2018-03-21,CLE,TOR,39:24,11,19,0.579,1,3,...,17,1,0,0,35,39.9,12,W,+3,33.222

In [25]:
# Create list of date ranges to group games by NBA season
year_ranges = [
    (lbj_df['date'] < '2004-08-01'),
    (lbj_df['date'] >= '2004-08-01') & (lbj_df['date'] < '2005-08-01'),
    (lbj_df['date'] >= '2005-08-01') & (lbj_df['date'] < '2006-08-01'),
    (lbj_df['date'] >= '2006-08-01') & (lbj_df['date'] < '2007-08-01'),
    (lbj_df['date'] >= '2007-08-01') & (lbj_df['date'] < '2008-08-01'),
    (lbj_df['date'] >= '2008-08-01') & (lbj_df['date'] < '2009-08-01'),
    (lbj_df['date'] >= '2009-08-01') & (lbj_df['date'] < '2010-08-01'),
    (lbj_df['date'] >= '2010-08-01') & (lbj_df['date'] < '2011-08-01'),
    (lbj_df['date'] >= '2011-08-01') & (lbj_df['date'] < '2012-08-01'),
    (lbj_df['date'] >= '2012-08-01') & (lbj_df['date'] < '2013-08-01'),
    (lbj_df['date'] >= '2013-08-01') & (lbj_df['date'] < '2014-08-01'),
    (lbj_df['date'] >= '2014-08-01') & (lbj_df['date'] < '2015-08-01'),
    (lbj_df['date'] >= '2015-08-01') & (lbj_df['date'] < '2016-08-01'),
    (lbj_df['date'] >= '2016-08-01') & (lbj_df['date'] < '2017-08-01'),
    (lbj_df['date'] >= '2017-08-01') & (lbj_df['date'] < '2018-08-01')
     ]

# Create array of sequential integers to be assigned based on the date range
year_vals = np.arange(1,16)

In [26]:
# Add year_num column to assign each game to the corresponding NBA season
lbj_df['year_num'] = np.select(year_ranges, year_vals)

In [27]:
# Check 
lbj_df

,game,date,team,opp,mp,fg,fga,fgp,three,threeatt,...,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,decimal_age,year_num
0,1,2003-10-29,CLE,SAC,42:00,12,20,0.600,0,2,...,4,0,2,25,24.7,-9,L,-14,18.830,1
1,2,2003-10-30,CLE,PHO,41:00,8,17,0.471,1,5,...,1,0,7,21,14.7,-3,L,-9,18.833,1
2,3,2003-11-01,CLE,POR,39:00,3,12,0.250,0,1,...,2,0,2,8,5.0,-21,L,-19,18.838,1
3,4,2003-11-05,CLE,DEN,41:00,3,11,0.273,0,2,...,2,3,2,7,11.2,-3,L,-4,18.849,1
4,5,2003-11-07,CLE,IND,44:00,8,18,0.444,1,2,...,0,0,7,23,9.0,-7,L,-1,18.855,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,CLE,PHO,33:13,7,14,0.500,1,2,...,3,2,5,28,30.1,23,W,+22,33.200,15
1128,68,2018-03-15,CLE,POR,41:05,15,25,0.600,1,4,...,2,3,6,35,26.4,-3,L,-8,33.205,15
1129,69,2018-03-17,CLE,CHI,39:53,15,26,0.577,2,8,...,1,2,6,33,27.5,-4,W,+5,33.211,15
1130,70,2018-03-19,CLE,MIL,40:01,16,29,0.552,3,7,...,2,1,6,40,33.4,4,W,+7,33.216,15
1131,71,2018-03-21,CLE,TOR,39:24,11,19,0.579,1,3,...,1,0,0,35,39.9,12,W,+3,33.222,15

In [28]:
#Check dtypes again

lbj_df.dtypes

game             int64
date            object
team            object
opp             object
mp              object
fg               int64
fga              int64
fgp            float64
three            int64
threeatt         int64
threep         float64
ft               int64
fta              int64
ftp            float64
orb              int64
drb              int64
trb              int64
ast              int64
stl              int64
blk              int64
tov              int64
pts              int64
game_score     float64
minus_plus       int64
win_or_loss     object
spread          object
decimal_age    float64
year_num         int32
dtype: object

In [29]:
#Convert Minutes Played Column to Decimal Format instead of "minutes:seconds"

def convert_to_decimal(time_str):
    if isinstance(time_str, str) and ':' in time_str:
        minutes, seconds = time_str.split(':')
        return round(int(minutes) + int(seconds) / 60, 2)
    else:
        return np.nan

lbj_df['mp'] = lbj_df['mp'].apply(convert_to_decimal)

In [30]:
lbj_df

,game,date,team,opp,mp,fg,fga,fgp,three,threeatt,...,stl,blk,tov,pts,game_score,minus_plus,win_or_loss,spread,decimal_age,year_num
0,1,2003-10-29,CLE,SAC,42.00,12,20,0.600,0,2,...,4,0,2,25,24.7,-9,L,-14,18.830,1
1,2,2003-10-30,CLE,PHO,41.00,8,17,0.471,1,5,...,1,0,7,21,14.7,-3,L,-9,18.833,1
2,3,2003-11-01,CLE,POR,39.00,3,12,0.250,0,1,...,2,0,2,8,5.0,-21,L,-19,18.838,1
3,4,2003-11-05,CLE,DEN,41.00,3,11,0.273,0,2,...,2,3,2,7,11.2,-3,L,-4,18.849,1
4,5,2003-11-07,CLE,IND,44.00,8,18,0.444,1,2,...,0,0,7,23,9.0,-7,L,-1,18.855,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,2018-03-13,CLE,PHO,33.22,7,14,0.500,1,2,...,3,2,5,28,30.1,23,W,+22,33.200,15
1128,68,2018-03-15,CLE,POR,41.08,15,25,0.600,1,4,...,2,3,6,35,26.4,-3,L,-8,33.205,15
1129,69,2018-03-17,CLE,CHI,39.88,15,26,0.577,2,8,...,1,2,6,33,27.5,-4,W,+5,33.211,15
1130,70,2018-03-19,CLE,MIL,40.02,16,29,0.552,3,7,...,2,1,6,40,33.4,4,W,+7,33.216,15
1131,71,2018-03-21,CLE,TOR,39.40,11,19,0.579,1,3,...,1,0,0,35,39.9,12,W,+3,33.222,15

In [31]:
#Convert all the datatypes to appropriate types for the ML model to run. 

lbj_df['spread'] = lbj_df['spread'].astype('int64')
lbj_df['year_num'] = lbj_df['year_num'].astype('int64')
lbj_df['decimal_age'] = lbj_df['decimal_age'].astype('int64')
lbj_df['mp'] = lbj_df['mp'].astype('int64')
lbj_df['fgp'] = lbj_df['fgp'].astype('int64')
lbj_df['game_score'] = lbj_df['game_score'].astype('int64')

In [32]:
## Apply One-Hot Encodings to Categorical Variables
## This adds a ton of variables

lbj_df = pd.get_dummies(lbj_df, columns=['team', 'opp'])

In [33]:
#Convert more, this time the date column
lbj_df['date'] = pd.to_datetime(lbj_df['date'])


lbj_df['year'] = lbj_df['date'].dt.year
lbj_df['month'] = lbj_df['date'].dt.month
lbj_df['day'] = lbj_df['date'].dt.day

lbj_df = lbj_df.drop(columns=['date'])

In [34]:
# Calculate the count of NaN values in each column
nan_count = lbj_df.isna().sum()

# Filter and display only the columns that have NaN values
nan_count_filtered = nan_count[nan_count > 0]
print(nan_count_filtered)

threep    40
ftp       12
dtype: int64

In [35]:
# Replace NaN values in 'threep' column with its mean
lbj_df['threep'] = lbj_df['threep'].fillna(lbj_df['threep'].mean())

# Replace NaN values in 'ftp' column with its mean
lbj_df['ftp'] = lbj_df['ftp'].fillna(lbj_df['ftp'].mean())

In [36]:
## Look at the set

lbj_df

,game,mp,fg,fga,fgp,three,threeatt,threep,ft,fta,...,opp_POR,opp_SAC,opp_SAS,opp_SEA,opp_TOR,opp_UTA,opp_WAS,year,month,day
0,1,42,12,20,0,0,2,0.000,1,3,...,0,1,0,0,0,0,0,2003,10,29
1,2,41,8,17,0,1,5,0.200,4,7,...,0,0,0,0,0,0,0,2003,10,30
2,3,39,3,12,0,0,1,0.000,2,2,...,1,0,0,0,0,0,0,2003,11,1
3,4,41,3,11,0,0,2,0.000,1,1,...,0,0,0,0,0,0,0,2003,11,5
4,5,44,8,18,0,1,2,0.500,6,7,...,0,0,0,0,0,0,0,2003,11,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,33,7,14,0,1,2,0.500,13,15,...,0,0,0,0,0,0,0,2018,3,13
1128,68,41,15,25,0,1,4,0.250,4,9,...,1,0,0,0,0,0,0,2018,3,15
1129,69,39,15,26,0,2,8,0.250,1,4,...,0,0,0,0,0,0,0,2018,3,17
1130,70,40,16,29,0,3,7,0.429,5,8,...,0,0,0,0,0,0,0,2018,3,19
1131,71,39,11,19,0,1,3,0.333,12,14,...,0,0,0,0,1,0,0,2018,3,21

In [37]:
# Check the dtypes one more time
lbj_df.dtypes

game       int64
mp         int64
fg         int64
fga        int64
fgp        int64
           ...
opp_UTA    uint8
opp_WAS    uint8
year       int64
month      int64
day        int64
Length: 65, dtype: object

In [38]:
# Drop Game_score, and spread (these are indiciators of win or loss, we don't want that in our input model)

lbj_df = lbj_df.drop(columns=['game_score', 'spread'])

In [39]:
lbj_df.columns.to_list()

['game',
 'mp',
 'fg',
 'fga',
 'fgp',
 'three',
 'threeatt',
 'threep',
 'ft',
 'fta',
 'ftp',
 'orb',
 'drb',
 'trb',
 'ast',
 'stl',
 'blk',
 'tov',
 'pts',
 'minus_plus',
 'win_or_loss',
 'decimal_age',
 'year_num',
 'team_CLE',
 'team_MIA',
 'opp_ATL',
 'opp_BOS',
 'opp_BRK',
 'opp_CHA',
 'opp_CHI',
 'opp_CHO',
 'opp_CLE',
 'opp_DAL',
 'opp_DEN',
 'opp_DET',
 'opp_GSW',
 'opp_HOU',
 'opp_IND',
 'opp_LAC',
 'opp_LAL',
 'opp_MEM',
 'opp_MIA',
 'opp_MIL',
 'opp_MIN',
 'opp_NJN',
 'opp_NOH',
 'opp_NOK',
 'opp_NOP',
 'opp_NYK',
 'opp_OKC',
 'opp_ORL',
 'opp_PHI',
 'opp_PHO',
 'opp_POR',
 'opp_SAC',
 'opp_SAS',
 'opp_SEA',
 'opp_TOR',
 'opp_UTA',
 'opp_WAS',
 'year',
 'month',
 'day']

# Training, Validation, and Test Split

- Decided to go with chronological split of training, validation, and test split given we are working with time series data
- In our case we used 70/15/15 (train, val, test)
- Made sure there was no overlap as seen below
- Broke each set (train, val and test) into X & Y - X was all input variables, and Y was outcome (in our case, Win or Loss)

In [40]:
### Calculate the total length

n_total = len(lbj_df)
n_train = int(n_total * 0.70)
n_val = int(n_total * 0.15)
n_test = int(n_total * 0.15)

In [41]:
## Double check the lengths
print(f'dataset:', n_total)
print(f'train:',n_train)
print(f'validation:', n_val)
print(f'test:', n_test)

dataset: 1132
train: 792
validation: 169
test: 169

In [42]:
## Create the actual sets themselves
train_df = lbj_df.iloc[:n_train]
val_df = lbj_df.loc[n_train:n_train + n_val]
test_df = lbj_df.loc[n_train + n_val + 1:]

In [43]:
## Check it worked
train_df

,game,mp,fg,fga,fgp,three,threeatt,threep,ft,fta,...,opp_POR,opp_SAC,opp_SAS,opp_SEA,opp_TOR,opp_UTA,opp_WAS,year,month,day
0,1,42,12,20,0,0,2,0.000,1,3,...,0,1,0,0,0,0,0,2003,10,29
1,2,41,8,17,0,1,5,0.200,4,7,...,0,0,0,0,0,0,0,2003,10,30
2,3,39,3,12,0,0,1,0.000,2,2,...,1,0,0,0,0,0,0,2003,11,1
3,4,41,3,11,0,0,2,0.000,1,1,...,0,0,0,0,0,0,0,2003,11,5
4,5,44,8,18,0,1,2,0.500,6,7,...,0,0,0,0,0,0,0,2003,11,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,23,40,9,12,0,0,2,0.000,7,10,...,0,0,0,0,0,0,0,2013,12,14
788,24,33,13,17,0,0,1,0.000,4,5,...,0,0,0,0,0,1,0,2013,12,16
789,25,36,8,14,0,1,3,0.333,7,7,...,0,0,0,0,0,0,0,2013,12,18
790,26,30,8,11,0,1,2,0.500,1,2,...,0,1,0,0,0,0,0,2013,12,20
791,27,45,16,28,0,4,9,0.444,2,6,...,0,0,0,0,0,0,0,2013,12,23

In [44]:
## Check it worked
val_df

,game,mp,fg,fga,fgp,three,threeatt,threep,ft,fta,...,opp_POR,opp_SAC,opp_SAS,opp_SEA,opp_TOR,opp_UTA,opp_WAS,year,month,day
792,28,35,7,14,0,0,4,0.000,5,9,...,0,0,0,0,0,0,0,2013,12,25
793,29,43,12,23,0,4,9,0.444,5,6,...,0,1,0,0,0,0,0,2013,12,27
794,30,39,8,15,0,5,9,0.556,5,8,...,0,0,0,0,0,0,0,2013,12,30
795,31,39,10,16,0,1,4,0.250,5,8,...,0,0,0,0,0,0,0,2014,1,2
796,32,35,5,13,0,0,1,0.000,5,8,...,0,0,0,0,0,0,0,2014,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,47,39,10,21,0,0,3,0.000,3,5,...,0,0,0,0,0,0,0,2016,2,3
958,48,38,9,23,0,0,5,0.000,12,17,...,0,0,0,0,0,0,0,2016,2,5
959,49,36,11,20,0,2,5,0.400,3,3,...,0,0,0,0,0,0,0,2016,2,6
960,50,30,8,16,0,1,2,0.500,4,5,...,0,1,0,0,0,0,0,2016,2,8
961,51,36,12,22,0,3,6,0.500,2,5,...,0,0,0,0,0,0,0,2016,2,10

In [45]:
## Check it worked
test_df

,game,mp,fg,fga,fgp,three,threeatt,threep,ft,fta,...,opp_POR,opp_SAC,opp_SAS,opp_SEA,opp_TOR,opp_UTA,opp_WAS,year,month,day
962,52,34,11,19,0,0,2,0.000,3,3,...,0,0,0,0,0,0,0,2016,2,18
963,53,37,11,22,0,2,5,0.400,1,1,...,0,0,0,0,0,0,0,2016,2,21
964,54,37,5,18,0,0,4,0.000,2,2,...,0,0,0,0,0,0,0,2016,2,22
965,55,30,8,13,0,2,4,0.500,5,8,...,0,0,0,0,0,0,0,2016,2,24
966,56,40,9,18,0,2,4,0.500,5,9,...,0,0,0,0,1,0,0,2016,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,67,33,7,14,0,1,2,0.500,13,15,...,0,0,0,0,0,0,0,2018,3,13
1128,68,41,15,25,0,1,4,0.250,4,9,...,1,0,0,0,0,0,0,2018,3,15
1129,69,39,15,26,0,2,8,0.250,1,4,...,0,0,0,0,0,0,0,2018,3,17
1130,70,40,16,29,0,3,7,0.429,5,8,...,0,0,0,0,0,0,0,2018,3,19
1131,71,39,11,19,0,1,3,0.333,12,14,...,0,0,0,0,1,0,0,2018,3,21

In [46]:
column_list = lbj_df.columns.tolist()
print(column_list)

['game', 'mp', 'fg', 'fga', 'fgp', 'three', 'threeatt', 'threep', 'ft', 'fta', 'ftp', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pts', 'minus_plus', 'win_or_loss', 'decimal_age', 'year_num', 'team_CLE', 'team_MIA', 'opp_ATL', 'opp_BOS', 'opp_BRK', 'opp_CHA', 'opp_CHI', 'opp_CHO', 'opp_CLE', 'opp_DAL', 'opp_DEN', 'opp_DET', 'opp_GSW', 'opp_HOU', 'opp_IND', 'opp_LAC', 'opp_LAL', 'opp_MEM', 'opp_MIA', 'opp_MIL', 'opp_MIN', 'opp_NJN', 'opp_NOH', 'opp_NOK', 'opp_NOP', 'opp_NYK', 'opp_OKC', 'opp_ORL', 'opp_PHI', 'opp_PHO', 'opp_POR', 'opp_SAC', 'opp_SAS', 'opp_SEA', 'opp_TOR', 'opp_UTA', 'opp_WAS', 'year', 'month', 'day']

In [47]:
column_list = lbj_df.columns.tolist()
print(column_list)

['game', 'mp', 'fg', 'fga', 'fgp', 'three', 'threeatt', 'threep', 'ft', 'fta', 'ftp', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pts', 'minus_plus', 'win_or_loss', 'decimal_age', 'year_num', 'team_CLE', 'team_MIA', 'opp_ATL', 'opp_BOS', 'opp_BRK', 'opp_CHA', 'opp_CHI', 'opp_CHO', 'opp_CLE', 'opp_DAL', 'opp_DEN', 'opp_DET', 'opp_GSW', 'opp_HOU', 'opp_IND', 'opp_LAC', 'opp_LAL', 'opp_MEM', 'opp_MIA', 'opp_MIL', 'opp_MIN', 'opp_NJN', 'opp_NOH', 'opp_NOK', 'opp_NOP', 'opp_NYK', 'opp_OKC', 'opp_ORL', 'opp_PHI', 'opp_PHO', 'opp_POR', 'opp_SAC', 'opp_SAS', 'opp_SEA', 'opp_TOR', 'opp_UTA', 'opp_WAS', 'year', 'month', 'day']

### Make X and Y for each respective set (train, val, and test)

In [48]:
### Create X and Y's for each respective set (train)

x_train = train_df.drop('win_or_loss', axis=1)
y_train = train_df[['win_or_loss']]

In [49]:
## Check lengths match, and check proper columns were dropped
print(len(x_train))
print(len(y_train))

792
792

In [50]:
### Create X and Y's for each respective set (validation)

x_val = val_df.drop('win_or_loss', axis=1)
y_val = val_df[['win_or_loss']]

In [51]:
## Check lengths match, and check proper columns were dropped

print(len(x_val))
print(len(y_val))

170
170

In [52]:
### Create X and Y's for each respective set (test)

x_test = test_df.drop('win_or_loss', axis=1)
y_test = test_df[['win_or_loss']]

In [53]:
## Check lengths match, and check proper columns were dropped

print(len(x_test))
print(len(y_test))

170
170

In [54]:
## Check the shapes

print(x_train.shape)
print(y_train.shape)

print(x_val.shape)
print(y_val.shape)

print(x_test.shape)
print(y_val.shape)

(792, 62)
(792, 1)
(170, 62)
(170, 1)
(170, 62)
(170, 1)

In [55]:
x_train.columns.to_list()

['game',
 'mp',
 'fg',
 'fga',
 'fgp',
 'three',
 'threeatt',
 'threep',
 'ft',
 'fta',
 'ftp',
 'orb',
 'drb',
 'trb',
 'ast',
 'stl',
 'blk',
 'tov',
 'pts',
 'minus_plus',
 'decimal_age',
 'year_num',
 'team_CLE',
 'team_MIA',
 'opp_ATL',
 'opp_BOS',
 'opp_BRK',
 'opp_CHA',
 'opp_CHI',
 'opp_CHO',
 'opp_CLE',
 'opp_DAL',
 'opp_DEN',
 'opp_DET',
 'opp_GSW',
 'opp_HOU',
 'opp_IND',
 'opp_LAC',
 'opp_LAL',
 'opp_MEM',
 'opp_MIA',
 'opp_MIL',
 'opp_MIN',
 'opp_NJN',
 'opp_NOH',
 'opp_NOK',
 'opp_NOP',
 'opp_NYK',
 'opp_OKC',
 'opp_ORL',
 'opp_PHI',
 'opp_PHO',
 'opp_POR',
 'opp_SAC',
 'opp_SAS',
 'opp_SEA',
 'opp_TOR',
 'opp_UTA',
 'opp_WAS',
 'year',
 'month',
 'day']

In [56]:
y_train.columns.to_list()

['win_or_loss']

# Basic Model - Logistic Regression

In [57]:
## Standardize the input features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_val_scaled = scaler.transform(x_val)
X_test_scaled = scaler.transform(x_test)

In [58]:
## Run the logistic regression model
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train_scaled, np.ravel(y_train))

LogisticRegression(random_state=42)

In [59]:
y_val_pred = log_reg.predict(X_val_scaled)

# Calculate accuracy
val_accuracy = accuracy_score(y_val, y_val_pred)
print(f"Validation accuracy: {val_accuracy}")

# Print classification report
print(classification_report(y_val, y_val_pred))

# Print confusion matrix
print(confusion_matrix(y_val, y_val_pred))

Validation accuracy: 0.9176470588235294
              precision    recall  f1-score   support

           L       0.88      0.84      0.86        51
           W       0.93      0.95      0.94       119

    accuracy                           0.92       170
   macro avg       0.91      0.90      0.90       170
weighted avg       0.92      0.92      0.92       170

[[ 43   8]
 [  6 113]]